In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/sales.csv')
df = df[df['amount'] > 0]
df['total_price'] = df['amount'] * df['unit_price']

In [4]:
df.head()

   amount  unit_price  total_price
0      10         2.5         25.0
1       5         3.0         15.0
3       8         1.5         12.0
4      12         2.0         24.0

In [5]:
df.to_parquet('cleaned.parquet')

In [4]:
from pathlib import Path

Path('week1_basics/output/cleaned.parquet').parent.mkdir(parents=True, exist_ok=True)

In [5]:
Path('week1_basics/data/sales.csv')

PosixPath('week1_basics/data/sales.csv')